body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #eeeeee;
}
.header {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 30px;
  color: #333333;
}
#title {
  text-align: center;
  font-size: 20px;
}
.figure {
  margin-left: 12%;
}
.figure figcaption {
  padding-top: 10px;
  padding-bottom: 2%;
}
.alignment {
  width: 42%;
  margin-left: 30%;
}
.heading {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
  font-size: 20px;
}
.alignment li {
  padding: 15px;
  line-height: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#bold {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
.img-container {
  background-color: white;
}
